body {
    margin: 0;
    line-height: normal;
}

.or {
    position: absolute;
    top: 664px;
    left: 205px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-inter);
}

.image-2-icon {
    position: absolute;
    top: 32px;
    left: 70px;
    width: 301px;
    height: 301px;
    object-fit: cover;
}

.group-child {
    position: absolute;
    top: 25px;
    left: 0;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    border: 1px solid var(--color-turquoise);
    box-sizing: border-box;
    width: 290px;
    height: 60px;
}

.username {
    position: absolute;
    top: 0;
    left: 4px;
}

.masukan-username {
    position: absolute;
    top: 44px;
    left: 22px;
    color: var(--color-gainsboro);
}

.rectangle-parent {
    position: absolute;
    top: 358px;
    left: 70px;
    width: 290px;
    height: 85px;
}

.masukan-password {
    position: absolute;
    top: 46px;
    left: 22px;
}

.password,
.rectangle-group {
    position: absolute;
    top: 0;
    left: 4px;
    color: var(--color-black);
}

.rectangle-group {
    top: 451px;
    left: 70px;
    width: 290px;
    height: 85px;
    color: var(--color-gainsboro);
}

.lupa-password {
    position: absolute;
    top: 540px;
    left: 251px;
    font-size: 13px;
    font-weight: 300;
}

.register {
    color: var(--color-turquoise);
}

.belum-punya-akun-container,
.group-inner {
    position: absolute;
    top: 837px;
    left: 85px;
}

.group-inner {
    top: 0;
    left: 0;
    border-radius: var(--br-md);
    background-color: var(--color-turquoise);
    width: 186px;
    height: 60px;
}

.submit {
    position: absolute;
    top: 19px;
    left: 68px;
    font-weight: 600;
}

.rectangle-container {
    position: absolute;
    top: 583px;
    left: 122px;
    width: 186px;
    height: 60px;
    color: var(--color-white);
}

.rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-md);
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 74px;
    height: 60px;
}

.image-4-icon {
    position: absolute;
    top: 14px;
    left: 21px;
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.group-div,
.image-5-icon {
    position: absolute;
    top: 707px;
    left: 135px;
    width: 74px;
    height: 60px;
}

.image-5-icon {
    top: 5px;
    left: 0;
    width: 75px;
    height: 50px;
    object-fit: cover;
}

.rectangle-parent1 {
    position: absolute;
    top: 707px;
    left: 224px;
    width: 75px;
    height: 60px;
}

.login {
    position: relative;
    border-radius: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 100%;
    height: 932px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-poppins);
}